body {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    color: azure;
}

a {
    margin-top: 25px;
}